body {
  background: url('/storage/bg.jpeg') center center / cover no-repeat fixed;
  font-family: 'Sawarabi Gothic', sans-serif;
}

.title {
  font-family: 'Kalam', cursive;
  background: aqua;
  padding: 20px 0;
  margin-top: 10px;
}

.register-btn {
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-size: 28px;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #fff;
  background: #00bcd4;
  transition: .4s;
  border-radius: 5px;
  padding: 0 50px;
}