body {
  background: url('/storage/bg.jpeg') center center / cover no-repeat fixed;
  font-family: 'Sawarabi Gothic', sans-serif;
}

.title {
  font-family: 'Kalam', cursive;
  background: aqua;
  padding: 20px 0;
  margin-top: 10px;
}

.register-btn {
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-size: 28px;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #fff;
  background: #00bcd4;
  transition: .4s;
  border-radius: 5px;
  padding: 0 50px;
}

.register-btn-mini {
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #fff;
  background: #00bcd4;
  transition: .4s;
  border-radius: 5px;
  padding: 0 50px;
}

input[type="file"] {
  display: none;
}

.label-pic {
  /* padding: 10px 40px; */
  color: fuchsia;
  border: 2px solid fuchsia;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
}

button a {
  color: white;
}

a:hover {
  opacity: 0.8;
  text-decoration: none;
}

textarea {
  border-radius: 10px;
  border: 1px soloi #ccc;
}

.circle {
  border-radius:50%;
}

.fs-16 {
  font-size:16px;
}

.fs-24 {
  font-size:24px;
}